[submodule "src/run-test262/test262"]
	path = src/run-test262/test262
	url = https://github.com/tc39/test262.git
[submodule "src/run-test262/test262o"]
	path = src/run-test262/test262o
	url = https://github.com/tc39/test262.git
