.github
.gitmodules
.nvmrc
.claude
upstream-merge-status.md
compile_commands.json
examples
meta
node_modules
src
tests
.editorconfig
.gitignore
.node-version
.npm-version
.npmignore
.prettierignore
build.ninja
Changelog
vitest.config.ts
build/*/intermediate
build/*/bin/encoding-fuzzer
build/**/.ninja_*
todo.txt
.tmp

# non-platform-specific build artifacts (dev builds)
build/bin
build/intermediate
build/lib
build/include
build/extras

# weird platforms
build/js-unknown-emscripten
build/unknown-unknown-cosmo
build/wasm32-unknown-*

# platform extras
build/*/extras
