.github
.gitmodules
.nvmrc
.claude
examples
meta
node_modules
src
tests
.editorconfig
.gitignore
.node-version
.npm-version
.npmignore
.prettierignore
build.ninja
Changelog
jest.config.js
build/*/intermediate
build/*/bin/encoding-fuzzer
build/**/.ninja_*
todo.txt

# non-platform-specific build artifacts (dev builds)
build/bin
build/intermediate
build/lib
build/include
build/extras
