# define it to include all the unicode tables (40KB larger)
CONFIG_ALL_UNICODE=y

# library version
CONFIG_VERSION=2021-03-27

# use link time optimization (smaller and faster executables but slower build)
CONFIG_LTO=y

# include the code for BigInt/BigFloat/BigDecimal and math mode
CONFIG_BIGNUM=y

# the target install dir for qjsc
CONFIG_PREFIX=/usr/local

# whether compiled programs should print debug logging
CONFIG_DEBUG=y
