# --- stuff used by libunicode, libregexp, and quickjs ---

# define it to include all the unicode tables (40KB larger)
CONFIG_ALL_UNICODE=y

# --- stuff used by quickjs ---

# library version
CONFIG_VERSION=2021-03-27

# use link time optimization (smaller and faster executables but slower build)
CONFIG_LTO=y

# include the code for BigInt/BigFloat/BigDecimal and math mode
CONFIG_BIGNUM=y

