# https://gittup.org/tup/manual.html

CONFIG_CC_HOST=clang
CONFIG_CC_TARGET=clang

CONFIG_AR_HOST=llvm-ar
CONFIG_AR_TARGET=llvm-ar

CONFIG_CFLAGS_HOST=-funsigned-char -Wno-unused-command-line-argument
CONFIG_CFLAGS_TARGET=-funsigned-char -Wno-unused-command-line-argument

CONFIG_DEFINES_HOST=-D__APPLE__
CONFIG_DEFINES_TARGET=-D__APPLE__

CONFIG_LIBS_HOST=-ldl -lpthread
CONFIG_LIBS_TARGET=-ldl -lpthread
