# https://gittup.org/tup/manual.html

# Host: x86_64 linux
CONFIG_LTO_HOST=y
CONFIG_CC_HOST=gcc
CONFIG_AR_HOST=gcc-ar
CONFIG_DEFINES_HOST=-D_GNU_SOURCE -D__linux__
CONFIG_LDFLAGS_HOST=-rdynamic
CONFIG_LIBS_HOST=-ldl -lpthread

# Target: x86_64 darwin
CONFIG_LTO_HOST=n
CONFIG_CC_TARGET=x86_64-apple-darwin20.4-clang
CONFIG_AR_TARGET=x86_64-apple-darwin20.4-ar
CONFIG_DEFINES_TARGET=-D__APPLE__
CONFIG_LDFLAGS_HOST=-rdynamic
CONFIG_LIBS_TARGET=-ldl -lpthread
CONFIG_CFLAGS_TARGET=-funsigned-char -Wno-unused-command-line-argument -fPIC
