# https://gittup.org/tup/manual.html

# Host: darwin (arch may vary)
CONFIG_LTO_HOST=n
CONFIG_CC_HOST=clang
CONFIG_AR_HOST=ar
CONFIG_DEFINES_HOST=-D__APPLE__
CONFIG_LDFLAGS_HOST=-rdynamic
CONFIG_LIBS_HOST=-ldl -lpthread
CONFIG_CFLAGS_HOST=-funsigned-char -Wno-unused-command-line-argument -fPIC

# Target: darwin (same arch as host)
CONFIG_LTO_TARGET=n
CONFIG_CC_TARGET=clang
CONFIG_AR_TARGET=ar
CONFIG_DEFINES_TARGET=-D__APPLE__
CONFIG_LDFLAGS_TARGET=-rdynamic
CONFIG_LIBS_TARGET=-ldl -lpthread
CONFIG_CFLAGS_TARGET=-funsigned-char -Wno-unused-command-line-argument -fPIC
