# https://gittup.org/tup/manual.html

# This file shows all the potential config variables that could be used.

# --- compiler configuration ---

# which C compiler to use
CC=gcc

# additional flags to pass to the c compiler
CFLAGS=-Werror

# -D flags used to define variables for the preprocessor
DEFS=-DWIN32 -DDEBUG

# Flags for the linker
LDFLAGS=-g -rdynamic

# Libraries to include
LIBS=-lfoo -lbar

# --- quickjs-specific configuration (mostly defines) ---

# library version (required)
CONFIG_VERSION=2021-03-27

# whether to include all the unicode tables (40KB larger)
CONFIG_ALL_UNICODE=y

# use link time optimization (smaller and faster executables but slower build)
CONFIG_LTO=y

# include the code for BigInt/BigFloat/BigDecimal and math mode
CONFIG_BIGNUM=n

# the target install dir for qjsc
CONFIG_PREFIX=/usr/local

# whether compiled programs should print debug logging
CONFIG_DEBUG=n
