# https://gittup.org/tup/manual.html

# These are the same as in the linux config
CONFIG_CC_HOST=gcc
CONFIG_DEFINES_HOST=-D_GNU_SOURCE -D__linux__
CONFIG_LDFLAGS_HOST=-rdynamic
CONFIG_LIBS_HOST=-ldl -lpthread

CONFIG_CC_TARGET=x86_64-w64-mingw32-gcc
# __USE_MINGW_ANSI_STDIO for standard snprintf behavior
CONFIG_DEFINES_TARGET=-D_GNU_SOURCE -D__USE_MINGW_ANSI_STDIO -D_WIN32
CONFIG_LIBS_TARGET=-lpthread
